{% extends 'base.html' %}

{% block title %}Área Administrativa{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <!-- Menu Lateral -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu</h4>
                    <div class="list-group">
                        <a href="{% url 'marcar_adotado' %}" class="list-group-item list-group-item-action">Marcar Pets como Adotados</a>
                        <a href="{% url 'adicionar_pet' %}" class="list-group-item list-group-item-action">Adicionar Novo Pet</a>
                        <a href="{% url 'remover_pet_list' %}" class="list-group-item list-group-item-action">Remover Animais</a>
                        <a href="{% url 'lista_animais' %}" class="list-group-item list-group-item-action">Voltar à Página de Adoção</a>
                        <!-- Adicione outras opções conforme necessário -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Título da página -->
            <h1 class="text-center mb-5">Área Administrativa</h1>

            <!-- Informação sobre a administração -->
            <div class="mt-5">
                <h3>Informações Administrativas</h3>
                <ul class="list-group">
                    <li class="list-group-item">Gerencie os pets disponíveis para adoção</li>
                    <li class="list-group-item">Marque pets como adotados ou disponíveis</li>
                    <li class="list-group-item">Adicione novos pets para adoção</li>
                    <li class="list-group-item">Remova pets da lista de adoção ou da lista de adotados</li>
                    <li class="list-group-item">Acompanhe as adoções realizadas</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
