{% extends 'base.html' %}

{% block title %}Detalhes de {{ animal.nome }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Detalhes do animal -->
    <div class="row mb-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ animal.nome }}</h5>
                </div>
                <div class="card-body">
                    <p><strong>Idade:</strong> {{ animal.idade_formatada }}</p>
                    <p><strong>Sexo:</strong> {{ animal.get_sexo_display }}</p>
                    <p><strong>Tipo:</strong> {{ animal.tipo.nome }}</p>
                    <p><strong>Cidade:</strong> {{ animal.local.cidade }}</p>
                    <p><strong>Estado:</strong> {{ animal.local.estado }}</p>
                    <p><strong>Nome do Doador:</strong> {{ animal.doador.username }}</p>
                    <p><strong>Número para Contato:</strong> {{ animal.doador.telefone }}</p>
                    <p><strong>Status de Adoção:</strong> {{ animal.adotado|yesno:"Adotado,Ainda não adotado" }}</p>
                    <p><strong>Descrição:</strong> {{ animal.descricao }}</p>
                </div>
            </div>
        </div>

        <!-- Foto do animal -->
        <div class="col-md-4 text-center">
            {% if animal.foto %}
                <img src="{{ animal.foto.url }}" alt="Foto de {{ animal.nome }}" class="img-fluid img-thumbnail my-3" style="max-width: 100%; height: auto;">
            {% else %}
                <p>Sem foto disponível.</p>
            {% endif %}
        </div>
    </div>

    <!-- Botão para adotar -->
    {% if user.is_authenticated and user.tipo_usuario == 'adotante' %}
        <div class="mt-3">
            <a href="{% url 'adotar_animal' animal.id %}" class="btn btn-success">Adotar Animal</a>
        </div>
    {% endif %}

    <!-- Botão para voltar para a lista -->
    <a href="{% url 'lista_animais' %}" class="btn btn-custom back-link mt-3">Voltar para a lista</a>
</div>
{% endblock %}
