{% extends 'base.html' %}

{% block title %}Detalhes de {{ animal.nome }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ animal.nome }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Idade:</strong> {{ animal.idade_formatada }}</p>
            <p><strong>Sexo:</strong> {{ animal.sexo }}</p>
            <p><strong>Tipo:</strong> {{ animal.tipo.nome }}</p>
            <p><strong>Local:</strong> {{ animal.local.cidade }} - {{ animal.local.estado }}</p>       
            <p><strong>Nome do Doador:</strong> {{ animal.doador.username }}</p> <p><strong>Número para Contato:</strong> {{ animal.doador.telefone }}</p> <p><strong>Status de Adoção:</strong> {{ animal.adotado|yesno:"Adotado,Ainda não adotado" }}</p>
            <p><strong>Descrição:</strong> {{ animal.descricao }}</p>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if user.tipo_usuario == 'adotante' %}
            <a href="{% url 'adotar_animal' animal.id %}" class="btn btn-success">Adotar Animal</a>
        {% elif user.tipo_usuario == 'doador' %}
            <a href="{% url 'doar_animal' %}" class="btn btn-primary">Doar Animal</a>
        {% endif %}
    {% endif %}
    <a href="{% url 'lista_animais' %}" class="btn btn-custom back-link">Voltar para a lista</a>
{% endblock %}
