{% extends 'base.html' %}

{% block title %}Lista de Animais{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- Filtro de cidade -->
        <form method="get" action="" class="filter-form d-flex justify-content-between align-items-end mb-5">
            <div class="form-group w-75">
                <label for="cidade" class="form-label">Filtrar por cidade:</label>
                <select name="cidade" id="cidade" class="form-select">
                    <option value="">Selecione uma cidade</option>
                    {% for local in locais %}
                        <option value="{{ local.cidade }}" {% if request.GET.cidade == local.cidade %}selected{% endif %}>{{ local.cidade }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-custom ml-3">Filtrar</button>
        </form>

        <!-- Título da página -->
        <h1 class="text-center mb-5">Animais para Adoção</h1>

        <!-- Lista de animais -->
        <div class="row">
            {% for animal in animais %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ animal.nome }}</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Idade:</strong> {{ animal.idade_formatada }}</p>
                            <p><strong>Sexo:</strong> {{ animal.sexo }}</p>
                            <p><strong>Tipo:</strong> {{ animal.tipo.nome }}</p>
                            <p><strong>Cidade:</strong> {{ animal.local.cidade }}</p>
                            <a href="{% url 'detalhes_animal' animal.id %}" class="btn btn-info">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        Nenhum animal encontrado.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
