{% extends 'base.html' %}

{% block title %}Lista de Animais{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- Filtros -->
        <form method="get" action="" class="filter-form mb-5">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cidade" class="form-label">Cidade:</label>
                    <select name="cidade" id="cidade" class="form-select">
                        <option value="">Selecione uma cidade</option>
                        {% for local in locais %}
                            <option value="{{ local.cidade }}" {% if request.GET.cidade == local.cidade %}selected{% endif %}>{{ local.cidade }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="adotado" class="form-label">Status de Adoção:</label>
                    <select name="adotado" id="adotado" class="form-select">
                        <option value="">Todos</option>
                        <option value="adotados" {% if request.GET.adotado == 'adotados' %}selected{% endif %}>Adotados</option>
                        <option value="nao_adotados" {% if request.GET.adotado == 'nao_adotados' %}selected{% endif %}>Ainda não adotados</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="tipo" class="form-label">Tipo de Animal:</label>
                    <select name="tipo" id="tipo" class="form-select">
                        <option value="">Todos os Tipos</option>
                        {% for tipo in tipos %}
                            <option value="{{ tipo.nome }}" {% if request.GET.tipo == tipo.nome %}selected{% endif %}>{{ tipo.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-custom mt-3">Aplicar Filtros</button>
        </form>

        <!-- Título da página -->
        <h1 class="text-center mb-5">Animais para Adoção</h1>

        <!-- Lista de animais -->
        <div class="row">
            {% for animal in animais %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                {{ animal.nome }}
                                {% if animal.adotado %}
                                    <span class="badge bg-success">Adotado</span>
                                {% endif %}
                            </h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Idade:</strong> {{ animal.idade_formatada }}</p>
                            <p><strong>Sexo:</strong> {{ animal.get_sexo_display }}</p>
                            <p><strong>Tipo:</strong> {{ animal.tipo.nome }}</p>
                            <p><strong>Cidade:</strong> {{ animal.local.cidade }}</p>
                            <a href="{% url 'detalhes_animal' animal.id %}" class="btn btn-info">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        Nenhum animal encontrado.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
